{%extends 'base.html'%}
{% load static %}
{% block content %}

{%if error_message%}
 <div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
      {{error_message}}
  </div>

</div>
{%endif%}
{%if add_message%}
 <div class="ui negative message">
  <i class="close icon"></i>
  <div class="header">
      {{add_message}}
  </div>

</div>
{%endif%}
<form method="POST" class="ui form">
    {%csrf_token%}
    {{form}}
    <button type="submit" class="ui positive button hi">signup</button>
</form>

      {% endblock content %}